global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 5s
    timeout server 5s

frontend http_front
    bind *:9999
    default_backend api_servers

backend api_servers
    balance roundrobin
    option http-server-close
    server api1 unix@/run/sock/api1.sock check inter 2s
    server api2 unix@/run/sock/api2.sock check inter 2s
